#star-bg-team-section {
    position: absolute ;
    top: 0;
    left: 0;
    margin: 0;
}
  
#team-section {
    padding-top: 100px; 
    padding-bottom: 100px; 
    width: 100vw; 
    background: #E0E0E0; 
    flex-direction: column; 
    justify-content: space-evenly; 
    align-items: center; 
    display: inline-flex; 
    position: relative;
}

#team-title {
    text-align: center; 
    color: #1E1F1F; 
    font-size: 40px; 
    font-family:  "Fira Code", monospace; 
    font-weight: 700; 
    letter-spacing: 6px; 
    word-wrap: break-word;
    padding-bottom: 30px;
}

#team-intro {
    padding: 0 20vw;
    text-align: center; 
    color: #1E1F1F; 
    font-size: 16px; 
    font-family:  "Fira Code", monospace; 
    font-weight: 400; 
    letter-spacing: 1px;
    line-height: 1.5;
    word-wrap: break-word;
}
@media (width < 991px) {
    #team-intro {
        padding: 0 10vw 10px 10vw;
        letter-spacing: normal;
    }
}
@media (width < 500px) {
    #team-intro {
        padding: 0 5vw 10px 5vw;
        letter-spacing: normal;
        font-size: 15px;
    }
}

#team-display {
    align-self: stretch; 
    padding: 0 12vw;
    justify-content: center;
    /* gap: 25px; */
    align-items: center; 
    display: flex;
    flex-wrap: wrap;
}
@media (width < 991px) {
    #team-display {
        padding: 0 8vw;
    }
}
@media (width < 768px) {
    #team-display {
        padding: 0 6vw;
    }
}

.member {
    width: 19vw; 
    padding: 40px 0px; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
@media (width < 991px) {
    .member {
        width: 40vw;
    }
}
@media (width < 768px) {
    .member {
        width: 44vw;
    }
}

.member-image {
    width: 13vw; 
    height: 13vw; 
    background-size: contain; 
    background-repeat: no-repeat; 
    border-radius: 50%;
}
@media (width < 991px) {
    .member-image {
        width: 27vw;
        height: 27vw;
    }
}
@media (width < 768px) {
    .member-image {
        width: 32vw;
        height: 32vw;
    }
}

.member-name {
    font-family:  "Fira Code", monospace; 
    font-size: 19px; 
    padding-top: 20px;
}

.member-role {
    font-family:  "Fira Code", monospace; 
    color: #1E1F1F; 
    font-size: 12px; 
    padding-top: 10px; 
    padding-bottom: 20px;
}
@media (width < 768px) {
    .member-role {
        padding-top: 5px; 
        padding-bottom: 10px;
    }
}

.member-socials {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    align-items: center;
}

.socials-icon-container {
    width: 25px; 
    height: 25px; 
    background-color: #323232; 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}
@media (width < 991px) {
    .socials-icon-container {
        width: 25px;
        height: 25px;
    }
}
@media (width < 768px) {
    .socials-icon-container {
        width: 22px;
        height: 22px;
    }
}
@media (width < 500px) {
    .socials-icon-container {
        width: 19px;
        height: 19px;
    }
}

.socials-icon-container:hover {
    background: #000;
}

