
.works{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.works h1{
    text-align: center;
  font-family: "Fira Code", monospace;

}

.worksText {
    margin-top: -6%;
    font-size: 3rem;
}

.works img {
    mix-blend-mode: multiply;
    width: 7vh;

}

.slider{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.container
{
    width: 75vw;
    height: 70vh;
    /* background-color: rgb(40, 153, 115); */
    display: flex;
}


.hand1{ 
    transform: rotate(270deg);
}

.hand2{ 
    transform: rotate(90deg);
}

.card1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card1 img {
    width: 40vw;
  
}
.card1 img:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card1 p {
    width: 20rem;
    
}

.card2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card2 img {
    width: 15vw;
    padding: 2rem;
}

.card2 p {
    width: 20rem;
}



.text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 2rem;
}


.carousel-container {
    width: 100%;
   }


   .custom-arrow {
    cursor: pointer;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .left-arrow {
    left: 10px;
    transform: rotate(270deg);
  }
  
  .right-arrow {
    right: 10px;
    transform: rotate(90deg);

  }
  
  .hand1, .hand2 {
    width: 50px; /* Adjust size as needed */
    height: auto;
  }

 
.hand1:hover
{
    scale: 1.1;
    transition: 1s;
}

.hand2:hover
{
    scale: 1.1;
    transition: 1s;
}