body{
  background-color: #E0E0E0;
}
body::-webkit-scrollbar {
  display: none;
}
.hero
{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.teams
{
  height: 100vh;
}

.contact{
  height: 100vh;
}

nav  {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav a 
{
  text-decoration: none;
  
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;

}

#logo{
  height: 15vw;
}

.stars {
  position: absolute ;
 height: 100vh;
 width: 100vw;
 top: 0;
 left: 0;
}

#star1 {
  position: absolute;
  left: 20vw;
  top: 30vh;
}
#star2 {
  position: absolute;
  left: 50vw;
  scale: 0.5;
  top: 20vh;
}
#star3 {
  position: absolute;
  left: 50vw;
  top: 1vh;
  transform: rotate(20deg);
}