@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');


body{
  background-color: #E0E0E0;

}
body::-webkit-scrollbar {
  display: none;
}
.hero
{
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;

  background-image: url('./assets/bg.png')   ;
  background-repeat: no-repeat; 
  background-position: center ,;
  background-size: 120vw ;


}


.teams
{
  height: 100vh;
  background-color: #E0E0E0;
  margin: 0;

}

.contact{
  height: 100vh;
  background-color: #E0E0E0;
  margin: 0;
}


nav  {

  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem;
  width: 100%;
  margin-bottom: 25vh;
  margin-top: 1vh;
}

#team {
  position : absolute ;
  left: 0;
  top: 0;
}

nav a 
{
  text-decoration: none;
  font-family: "Fira Code", monospace;
  font-weight: 600;
  color: #303030;
  
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 scale :1.1;
  font-family: "Fira Code", monospace;

}

.content p {
  font-size: 1.5vw;
letter-spacing: 5px;
}

#logo{
  height: 10vw;
}

.stars {
  position: absolute ;

 top: 0;
 left: 0;
 margin: 0;
}

#star1 {
  position: absolute;
  left: 20vw;
  top: 30vh;
}
#star2 {
  position: absolute;
  left: 50vw;
  scale: 0.5;
  top: 20vh;
}
#star3 {
  position: absolute;
  left: 50vw;
  top: 1vh;
  transform: rotate(20deg);
}

#star4 {
  position: absolute;
  left: 50vw;
  top: 80vh;
  transform: rotate(20deg);
}

#star5 {
  position: absolute;
  left: 90vw;
  top: 60vh;
  transform: rotate(20deg);
}

#star6 {
  position: absolute;
  left: 10vw;
  top: 65vh;
  transform: rotate(20deg);
}

.typed{
  position: relative;
  top: -70px;
}
.typed span{
 font-size: xx-large;
 font-weight: 900;
 font-size: 1.5vw;
}

.hands{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#hand1 {
  width: 8vw;
}

#hand2{
  width: 8vw;

}


/* Media queries */

@media only screen and (max-width : 600) {

  #logo{
    height: 100vw;
  }


}